html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0.5em 0em;
}

.region {
  padding: 0.5em;
}

#ui-region {
  background-color: #eee;
  border-bottom: 1px solid #888;
}

#tab-headers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
}

.tab-header {
  display: inline-block;
  cursor: pointer;
  flex-grow: 1;
}

.tab-header {
  font-weight: lighter;
}

.tab-header[selected=true] {
  font-weight: bolder;
}

#status-region {
  background-color: #ddd;
  border-bottom: 1px solid #888;
}

#output-region {
  background-color: #ccc;
}

#output-header-header,
#output-show-as-container,
#output-show-as-pretty-pml-container,
#output-show-as-auto-magic-container,
#output-show-as-timeline-container,
#output-show-as-raw-container {
  display: inline-block;
}

#output-content {
}

.pd {
  display: block;
  border: 1px solid gray;
  margin: 2px;
  margin-left: 0.5em;
  padding: 2px;
}
.pda-container {
  display: inline-block;
  border: 1px solid #888;
  background-color: #eee;
  margin: 0 4px;
}
.pda-focus {
  margin: 0 4px;
  font-style: italic;
}
.pda-nightmare-data {
  display: grid;
  grid-template-columns: 120px 1fr;
  border-bottom: 1px solid white;
}
.pda-data {
}
.pda-data-key {


}
.pda-data-key-depth-0 {
  background-color: #eee;
}
.pda-data-key-depth-1 {
  background-color: #ddd;
}
.pda-data-key-depth-2 {
  background-color: #ccc;
}
.pda-data-key-depth-3 {
  background-color: #bbb;
}
.pda-data-key-depth-4 {
  background-color: #aaa;
}
.pda-data-key-depth-5 {
  background-color: #999;
}
.pda-data-key-depth-6,
.pda-data-key-depth-7,
.pda-data-key-depth-8 {
  background-color: #888;
}
.pda-data-value {
  background-color: #fff;
}
.pda-kv-pair {
  margin: 0 4px;
}
.pda-kv-key {

}
.pda-kv-equals {

}
.pda-kv-value {

}

.pd-tag {
  font-size: 80%;
  border: 1px solid #ccc;
  margin-right: 2px;
  vertical-align: top;
  font-family: sans-serif;
}

.pd-str {
  border: 1px dashed gray;
}

.pd0 {
  background-color: #eff;
}
.pd1 {
  background-color: #fef;
}
.pd2 {
  background-color: #ffe;
}
.pd3 {
  background-color: #eef;
}
.pd4 {
  background-color: #efe;
}
.pd5 {
  background-color: #fee;
}
.pd6 {
  background-color: #dff;
}
.pd7 {
  background-color: #fdf;
}
.pd8 {
  background-color: #ffd;
}
.pd9 {
  background-color: #ddf;
}
.pd10 {
  background-color: #dfd;
}
.pd11 {
  background-color: #fdd;
}

.vis-item .vis-item-overflow {
  overflow: visible !important;
}
